h2{
    font-weight: bolder;
    color: black
}

form *{
    font-weight: bold;
}

form label{
    font-size: 18px;
    color:#8f9096;
}

form .form-control,form .form-control:focus{
    border-color:transparent;
    border-bottom-color: #bebcc1;
    box-shadow:none;
}

form .btn{ 
    border-radius: 0px;
    border-color: transparent;
}

.btn.btn-default{
    background: #ebebeb;
    color:#8f9096;
}

.btn.btn-primary{
    background: #0e9be2;
    color:white;
}
.sidebar {
    height: calc(100vh - 80px) !important;
    bottom: 0;
    padding-left:20px;
    font-size: 1.3rem;
    background: #0e9be2;
}

@media screen and (max-width:940px){
    .sidebar{
        font-size: 1rem;
        padding-left :0px;
    }
}


.sidebar .nav-link{
    margin-bottom: 20px;
    color:#dddce5;
}

.nav-link.active{
    color:#fff;
}

.main > .row{
    height: 100%;
}

@media screen and (max-width:768px){
    .content{
        padding-left:50px; 
        width: 100%;
        padding-top: 200px;
        padding-bottom: 50px;
    }
    
    form{
        width: 100%;
        margin:auto;
    }
    
}
